# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binaries
/graphql-go-app
*.test

# Output of the go coverage tool
*.out

# Javascript
/client/dist/main.js
/client/dist/main.js.map
/client/dist/react.js
/client/dist/react-dom.js
/client/node_modules/
