.App {
  background: #f8cdea;
  border: 1px solid #2c2c2c;
  border-radius: 8px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
  box-sizing: border-box;
  margin: 3rem auto 1rem;
  max-width: 20rem;
  padding: 0.25rem 1rem;
}
.App-heading {
  margin: 0.25rem 0 0.5rem;
}
